body {
     background: azure;
     color: darkcyan;
     }
     
     body{
     font-size: 18pt;
     font-family: 'Indie Flower', cursive;

}
h1 { color: darkcyan; font-size: 250%; font-weight: bold } 
