body {
     background: yellow;
     color: crimson;
     }
     
     body{
     font-size: 18pt;
     font-family: 'Open Sans Condensed', sans-serif;
}
h1 { color: cyan; font-size: 250%; font-weight: bold } 
h2 { font-size: 150%;
     font-style: italic;
     color: purple }