body {
     background: dimgray;
     color: darkorange;
     }
     
     body{
     font-size: 18pt;
     font-family: 'Pangolin', cursive;
      }
h1 { color: darkmagenta; font-size: 200%; font-weight: bold } 
